/* monkey patch for lenis */
html {
    scroll-behavior: auto !important;
}

/* variables */
:root {
    --foreground: #2c2c2c;
    --foreground-dim: rgba(0, 0, 0, 0.5);
    --background: #f9fbff;
    --background-dim: rgba(0, 0, 0, 0.02);
    --accent: #39534d;
    --border: rgba(0, 0, 0, 0.2);
    --link: #000212;
}

body {
    background-color: var(--background);
    font-family: "Montserrat", sans-serif;
    color: var(--foreground);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

::selection {
    background: var(--foreground);
    color: var(--background);
}

a {
    color: var(--link);
    text-decoration-color: var(--foreground-dim);
    text-decoration-style: 1px solid;
    transition: 500ms;
}

a:hover {
    text-decoration-color: var(--foreground);
}

.unselectable {
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}

/* fonts */

.inconsolata {
    font-family: "Inconsolata", monospace;
}

.consolas {
    font-family: "Consolas", monospace;
}

.frame-wrapper {
    padding: 20px 30px;
    border-radius: 20px;
}

.frame {
    min-width: 100%;
    min-height: 100%;
    border-radius: 20px;
    border: 1px solid var(--border);
}

@media (max-width: 767px) {
    .frame-wrapper {
        padding: 0;
    }

    .frame {
        border: none;
    }
}

.vh-height {
    height: 100vh;
}

.hidden {
    visibility: hidden;
}

.nav-bar {
    /* blur background */
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.dropdown-menu {
    background-color: #ecedf2;
}

.dropdown-item:active {
    background-color: var(--foreground);
    color: var(--background);
}

.name {
    font-size: 60px;
}

.bio {
    font-size: 20px;
}

.divider {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

.category-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--foreground-dim);
}

/* Logo */

.logo {
    border-right: 1px solid var(--border);
}

.logo-text {
    color: var(--foreground);
    text-decoration: none;
    transition: 500ms;
}

.logo-text:hover {
    filter: blur(1px);
}

.btn-outline-dark {
    border-color: rgba(0, 0, 0, 0.3);
    transition-duration: 200ms;
    color: var(--foreground-dim);
}

.btn-outline-dark:hover {
    background-color: var(--background-dim);
    color: rgba(0, 0, 0, 1);
}

.btn-outline-dark:active {
    background-color: #000;
    color: #fff;
}

.link-btn {
    color: var(--foreground);
    transition-duration: 500ms;
    cursor: pointer;
    text-decoration: underline solid transparent;
}

.link-btn:hover {
    text-decoration: underline solid black;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle {
    border: none;
    background-color: transparent;
}

/* Page loading  */

#loading-screen {
    backdrop-filter: blur(15px);
    color: var(--foreground);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 10000;
}

.fade-away {
    animation: fade-away 350ms forwards;
}

@keyframes fade-away {
    0% {
        color: var(--foreground);
        backdrop-filter: blur(15px);
    }

    100% {
        color: var(--background);
        backdrop-filter: blur(1px);
    }
}


/* Cursor */
#cursor {
    pointer-events: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    z-index: 10000;
    border: 0.01vw solid var(--foreground);
    position: fixed;
    transform: translate(-50%, -50%);
}

.switch {
    width: 50px;
    /* Adjusted width based on the new height */
    height: 25px;
    position: relative;
}

.toggle-input {
    display: none;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #e7e9ec;
    border-radius: 12.5px;
    /* Half of the new height */
    transition: background-color 0.2s;
}

.knob {
    position: absolute;
    width: 23px;
    height: 23px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s;
    overflow: hidden;
}

.on-image,
.off-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s;
}

.on-image {
    opacity: 0;
}

.toggle-input:checked+.slider {
    background-color: #e7e9ec;
}

.toggle-input:checked+.slider .knob {
    transform: translateX(25px);
    /* Adjusted based on the new width */
}

.toggle-input:checked+.slider .on-image {
    opacity: 1;
}

.toggle-input:checked+.slider .off-image {
    opacity: 0;
}


.i18n {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}